.slide-in-from-bottom {
  animation: slide-in-from-bottom 500ms ease-in-out forwards;
}

.slide-in-from-left {
  animation: slide-in-from-left 500ms ease-in-out forwards;
}


@keyframes slide-in-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(50%);
  } 100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slid-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  } 100% {
    opacity: 1;
    transform: translateX(0);
  }
}
