@media (min-width: 576px) {
  [class*="hidden-"] {
    opacity: 0;
    transform: translateY(50%);
  }

  .left-hidden {
    opacity: 0;
    transform: translateX(-50%);
  }

  .reveal {
    opacity: 1;
    transform: translate(0);
    transition: 1s cubic-bezier(0.5, 0, 0, 1);
  }

  .unreveal {
    opacity: 0;
    transition: 1s cubic-bezier(0.5, 0, 0, 1);
  }
}
