h1, h2, h3, h4, h5, p {
  color: black;
}

body {
  background-color: white;
}

.text-white {
  color: white;
}

.text-grey {
  color: #999999;
}

@media (max-width: 576px) {
  .mobile-background-black {
    background-color: black;
  }

  .mobile-background-white {
    background-color: white;
  }
}
