@font-face {
  font-family: 'neueMontreal', sans-serif;
  src: font-url('neue_montreal_medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'neueMontreal', sans-serif;
  src: font-url('neue_montreal_regular.woff') format('woff');
  font-weight: 400;
}

body {
  font-family: 'neueMontreal', sans-serif;
  font-weight: 500;
}

.text-regular {
  font-weight: 400;
}

@media screen and (max-aspect-ratio: 8/5) {
  h1 {
    font-size: 6.9vw;
  }
}

@media screen and (min-aspect-ratio: 8/5) {
  h1 {
    font-size: 5.9vw;
  }
}

h1 {
  text-transform: uppercase;
}

h2 {
  font-size: 3.3vw;
}

h3 {
  font-size: 2.2vw;
}

h4 {
  font-size: 1.6vw;
}

p {
  font-size: 0.9vw;
}

.text-biggest {
  font-size: 1.4vw;
}

.text-large {
  font-size: 1.2vw;
}

.text-medium {
  font-size: 1.1vw;
}

.text-small {
  font-size: 0.8vw;
}

.spacing-between-line {
  line-height: 1.5;
}

.text-custom {
  font-size: 8.3vw;
}
