.landing {
  display: none;
}

h1 {
  opacity: 0;
  animation: slide-in-text 500ms ease-in-out forwards;
  animation-delay: 1s;
}

.content-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .content-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 26.6vw;

    .content-description-principal {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 30px;
      opacity: 0;
      animation: slide-in-text 500ms ease-in-out forwards;
      animation-delay: 1500ms;
    }

    .arrow-down {
      opacity: 0;
      animation: slide-in-text 500ms ease-in-out forwards 3500ms,
                 rebound 700ms ease-in-out infinite 4s;
    }
  }

  .content-cover-position {
    position: absolute;
    right: 0;
  }

  .content-cover {
    position: relative;
    overflow: hidden;

    .content-cover-filter, .content-image {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .content-cover-filter {
      background-color: white;
      z-index: 1;
      animation: filter-disappear 1s ease-in-out forwards;
      animation-delay: 2500ms;
    }

    .content-image {
      object-fit: cover;
      scale: 1.2;
      animation: image-appear 1s ease-in-out forwards;
      animation-delay: 2500ms;
    }
  }
}

@media screen and (max-aspect-ratio: 8/5) {
  :root {
    --content-cover-width: 49vw;
    --content-cover-aspect-ratio: 5/3;
  }

  h1 {
    margin-bottom: 50px;
  }

  .content-description {
    height: calc(var(--content-cover-width) / var(--content-cover-aspect-ratio));
  }

  .content-cover {
    width: var(--content-cover-width);
    aspect-ratio: var(--content-cover-aspect-ratio);
  }
}

@media screen and (min-aspect-ratio: 8/5) {
  :root {
    --content-cover-width: 40vw;
    --content-cover-aspect-ratio: 2/1;
  }

  h1 {
    margin-bottom: 30px;
  }

  .content-description {
    height: calc(var(--content-cover-width) / var(--content-cover-aspect-ratio));;
  }

  .content-cover {
    width: var(--content-cover-width);
    aspect-ratio: var(--content-cover-aspect-ratio);
  }
}

@keyframes slide-in-text {
  0% {
    opacity: 0;
    transform: translateY(50%);
    animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  } 100% {
    opacity: 1;
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes filter-disappear {
  0% {
    transform: translateX(0);
  } 100% {
    transform: translateX(-100%);
    display: none;
  }
}

@keyframes image-appear {
  0% {
    scale: 1.2;
  } 100% {
    scale: 1;
  }
}

@keyframes rebound {
  0% {
    transform: translateY(0);
  } 25% {
    transform: translateY(-5px);
  } 50% {
    transform: translateY(0);
  } 75% {
    transform: translateY(5px);
  } 100% {
    transform: translateY(0);
  }
}
