.landing {
  display: none;
}

h1 {
  opacity: 0;
  animation: slide-in-text 500ms ease-in-out forwards;
  animation-delay: 1s;
}

.content-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .content-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 26.6vw;

    .content-description-principal {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      opacity: 0;
      animation: slide-in-text 500ms ease-in-out forwards;
      animation-delay: 1500ms;
    }

    .arrow-down {
      opacity: 0;
      animation: slide-in-text 500ms ease-in-out forwards 3500ms,
                 rebound 1s cubic-bezier(0.42, 0.0, 1.0, 1.0) infinite 4s;
    }
  }

  .content-cover-position {
    position: absolute;
    right: 0;
  }

  .content-cover {
    position: relative;
    overflow: hidden;

    .content-cover-filter, .content-image {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .content-cover-filter {
      background-color: white;
      z-index: 1;
      animation: filter-disappear 1s ease-in-out forwards;
      animation-delay: 2500ms;
    }

    .content-image {
      object-fit: cover;
      scale: 1.2;
      animation: image-appear 1s ease-in-out forwards;
      animation-delay: 2500ms;
    }
  }
}

@media (max-height: 700px) {
  h1 {
    margin-bottom: 30px;
  }

  .content-description-principal {
    gap: 20px;
  }

  .content-description {
    height: 19.51em;
  }

  .content-cover {
    width: 31.25em;
    height: 19.51em;
  }
}

@media (min-height: 700px) {
  h1 {
    margin-bottom: 70px;
  }

  .content-description-principal {
    gap: 40px;
  }

  .content-description {
    height: 27.625em;
  }

  .content-cover {
    width: 44.25em;
    height: 27.625em;
  }
}


@keyframes slide-in-text {
  0% {
    opacity: 0;
    transform: translateY(50%);
    animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  } 100% {
    opacity: 1;
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes filter-disappear {
  0% {
    transform: translateX(0);
  } 100% {
    transform: translateX(-100%);
    display: none;
  }
}

@keyframes image-appear {
  0% {
    scale: 1.2;
  } 100% {
    scale: 1;
  }
}

@keyframes rebound {
  0% {
    transform: translateY(0);
  } 25% {
    transform: translateY(-5px);
    } 50% {
    transform: translateY(0);
  } 75% {
    transform: translateY(5px);
  } 100% {
    transform: translateY(0);
  }
}
