.landing {
  display: none;
}

.container-content {
  margin: 0 7vw;

  @media screen and (max-aspect-ratio: 8/5) {
    h1 {
      margin-bottom: 50px;
    }
  }

  @media screen and (min-aspect-ratio: 8/5) {
    h1 {
      margin-bottom: 30px;
    }
  }

  .content-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 83.7vw;

    .content-description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 26.6vw;

      &:first-of-type {
        p {
          margin-bottom: 30px;
        }
      }
    }

    @media screen and (max-aspect-ratio: 8/5) {
      .content-image {
        width: 49vw;
        aspect-ratio: 5/3;
        object-fit: cover;
      }
    }

    @media screen and (min-aspect-ratio: 8/5) {
      .content-image {
        width: 40vw;
        aspect-ratio: 2/1;
        object-fit: cover;
      }
    }
  }
}
