.container-loading {
  height: 100vh;
  width: 100vw;
  background-color: black;

  .name-loading {
    position: absolute;
    top: 40px;
    left: 40px;

    p {
      font-size: 14px; // To change by a scaling size
      color: #999999;
    }
  }

  .counter-loading {
    position: absolute;
    bottom: 40px;
    right: 40px;
    font-size: 120px; // To change by a scaling size
    color: white;
  }

  .bar-loading {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px; // To change by a scaling size
    background-color: white;
  }
}
