@media (min-width: 576px) {
  .smartphone {
    width: 375px;
    height: 812px;
    border-radius: 35px;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 1;
  }

  .smartphone-image {
    position: absolute;
    height: 879px;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 576px) {
  .smartphone-image {
    display: none;
  }

  .smartphone-content {
    padding: 30px 0;
  }
}

@media (min-width: 576px) {
  .smartphone-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

.smartphone-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: black;
  height: 100%;

  .smartphone-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .button-smartphone {
      background-color: black;
      border: solid 1px white;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      gap: 10px;

      p {
        color: white;
      }
    }

    .fa-address-book, .fa-calendar {
      color: white;
    }
  }
}

.break-bar {
  width: 90%;
  height: 3px;
  background-color: white;
}

.social-media {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-between;
  row-gap: 20px;
  column-gap: 40px;

  .social-media-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .social-media-icon {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: solid 3px white;
    background-color: white;
  }
}
