<div class="container-about">
  <div class="about-to-know">
    <p>À PROPOS</p>
    <div class="to-know-infos">
      <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus ipsa totam perferendis sed, fugit labore quibusdam unde voluptate quo inventore</h3>
      <div class="to-know-description"></div>
        <p>01.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus ipsa totam perferendis sed, fugit labore quibusdam unde voluptate quo inventore</p>
      <div class="to-know-description"></div>
        <p>02.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus ipsa totam perferendis sed, fugit labore quibusdam unde voluptate quo inventore</p>
    </div>
  </div>
  <div class="about-expertise">
    <p>EXPERTISES</p>
    <div class="skills-block">
      <div class="skill-category">
        <p>Front-end</p>
        <div>
          <div>
            <img src="" alt="">
            <p>HTML</p>
          </div>
          <div>
            <img src="" alt="">
            <p>CSS</p>
          </div>
          <div>
            <img src="" alt="">
            <p>JAVASCRIPT</p>
          </div>
          <div>
            <img src="" alt="">
            <p>STIMULUS</p>
          </div>
        </div>
      </div>
      <div class="skill-category">
        <p>Back-end</p>
        <div>
          <div>
            <img src="" alt="">
            <p>RUBY</p>
          </div>
          <div>
            <img src="" alt="">
            <p>RAILS</p>
          </div>
        </div>
      </div>
      <div class="skill-category">
        <p>Base de données</p>
        <div>
          <img src="" alt="">
          <p>MySQL</p>
        </div>
        <div>
          <img src="" alt="">
          <p>POSTGRE SQL</p>
        </div>
      </div>
    </div>
  </div>
</div>
