<div data-scroll-target='contact' class="container-black container-padding-y">
  <div data-controller='clipboard' class="contact-container">
    <p class='text-grey'>CONTACTEZ MOI</p>
    <h1 data-clipboard-target='mail' class='text-white'>kevin.tchiadeu<br>@gmail.com</h1>
    <div data-action='click->clipboard#copy' class="button button-black">
      <i class="fa-regular fa-clone"></i>
      <p class='text-white'>Copiez</p>
    </div>
  </div>
</div>
