<div data-scroll-target='contact' class="container-black container-padding-y">
  <div data-controller='clipboard' class="contact-container">
    <p data-appear-target='bottomAppear' class='text-grey'>CONTACTEZ MOI</p>
    <h1 data-appear-target='bottomAppear' data-clipboard-target='mail' class='text-white'>kevin.tchiadeu<br>@gmail.com</h1>
    <div data-appear-target='bottomAppear' data-action='click->clipboard#copy' class="button button-black">
      <%= image_tag 'icones/copy.svg' %>
      <p class='text-white'>Copier</p>
    </div>
  </div>
</div>
