<div data-loading-target='loadingPage' class="container-loading">
  <div data-loading-target='name' class="name-loading">
    <h5 class='text-white medium'>Kévin Tchiadeu</h5>
    <p>DÉVELOPPEUR FULLSTACK</p>
  </div>
  <p data-loading-target='counter' class='counter-loading'>0</p>
  <div data-loading-target='bar' class='bar-loading'></div>
</div>
