<div class='navbar'>
  <p data-smartphone-target='navbarName' class='text-biggest'>Kévin Tchiadeu</p>
  <div class='navbar-options'>
    <div data-action='click->scroll#scrollToAbout' class='button'>
      <p class='text-large text-grey text-regular'>À propos</p>
    </div>
    <div data-action='click->scroll#scrollToProjects' class='button'>
      <p class='text-large text-grey text-regular'>Projets</p>
    </div>
    <div data-action='click->scroll#scrollToContact' class='button'>
      <p class='text-large text-grey text-regular'>Contact</p>
    </div>
  </div>
  <%= image_tag 'icones/burger.svg', class: 'icone-burger',
                data: {action: 'click->smartphone#navbarOptions', smartphone_target: 'navbarBurger'} %>
  <%= image_tag 'icones/cross.svg', class: 'icone-cross',
                data: {action: 'click->smartphone#closeOptions', smartphone_target: 'navbarCross'} %>
</div>
