<div class='navbar'>
  <p class='text-large'>Kévin Tchiadeu</p>
  <div class='navbar-options'>
    <div data-action='click->scroll#scrollToAbout' class='button'>
      <p class='text-medium text-grey text-regular'>À propos</p>
    </div>
    <div data-action='click->scroll#scrollToProjects' class='button'>
      <p class='text-medium text-grey text-regular'>Projets</p>
    </div>
    <div data-action='click->scroll#scrollToContact' class='button'>
      <p class='text-medium text-grey text-regular'>Contact</p>
    </div>
  </div>
  <%= image_tag 'icones/burger.svg', class: 'icone-burger', data: {action: 'click->scroll#scrollToAbout'} %>
</div>
