<div class='navbar'>
  <p class='text-large'>Kévin Tchiadeu</p>
  <div class='navbar-options'>
    <div class='button' href='#about'><p class='text-medium text-grey text-regular'>À propos</p></div>
    <div class='button' href='#projects'><p class='text-medium text-grey text-regular'>Projets</p></div>
    <div class='button' href='#contact'><p class='text-medium text-grey text-regular'>Contact</p></div>
  </div>
</div>
