<div data-loading-target='navbar' class='navbar'>
  <p class='text-large'>Kévin Tchiadeu</p>
  <div class='navbar-options'>
    <p class='text-medium text-grey text-regular'>À propos</p>
    <p class='text-medium text-grey text-regular'>Projets</p>
    <p class='text-medium text-grey text-regular'>Contact</p>
  </div>
</div>
