<div
  data-smartphone-target='projects' data-scroll-target='projects'
  data-appear-target="projectContainer"
  class="container-basic container-padding-y"
>
  <div data-appear-target='project projectContainerTrigger' data-category="project" class="projects-title hidden-bottom">
    <p class='text-grey'>2023</p>
    <h2>PROJETS RÉALISÉS</h2>
  </div>
  <div class="projects-grid">
    <%=
      render partial: "project",
      locals: {
        trigger: "",
        cover_image: "breizh_secrets.jpg",
        alt: "Photo des remparts de St Malo",
        month: "mars",
        year: "2023",
        skills: ["rails", "postgre sql", "html", "css", "stimulus"],
        project_name: "breizh secrets",
        project_description: "Application de découverte de la Bretagne sous forme de jeu de piste",
        url: "https://www.breizhsecrets.eu"
      }
    %>
    <%=
      render partial: "project",
      locals: {
        trigger: "projectContainerTrigger",
        cover_image: "s&s_calendar.png",
        alt: "Aperçu landing page S&S Calendar",
        month: "septembre",
        year: "2023",
        skills: ["rails", "google calendar API", "google vision API"],
        project_name: "Snap & Sync Calendar",
        project_description: "Application de gestion de calendrier synchronisé avec Google Calendar",
        url: "https://from-pics-to-calendar.osc-fr1.scalingo.io/users/sign_in"
      }
    %>
  </div>
</div>
