<div data-smartphone-target='projects' data-scroll-target='projects' class="container-white container-padding-y">
  <div data-appear-target='appear' class="projects-title hidden-bottom">
    <p class='text-grey'>2023</p>
    <h2>PROJETS RÉALISÉS</h2>
  </div>
  <div class="projects-grid">
    <div data-appear-target='appear' class="project-card hidden-bottom">
      <div class="project-cover">
        <%= image_tag 'projects_cover/test.jpg', class: 'project-image'%>
        <div class="project-date">
          <p class="text-white text-small text-visible">MARS 2023</p>
        </div>
        <div class="project-skills-list">
          <div class="project-skill">
            <p class="text-white text-small text-visible">RAILS</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">POSTGRE SQL</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">HTML</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">CSS</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">STIMULUS</p>
          </div>
        </div>
      </div>
      <div class="project-infos">
        <div>
          <p class='text-biggest'>BREIZH SECRETS</p>
          <p class='text-grey'>Site de partage de secrets</p>
        </div>
        <div class='project-icone-plus'>
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
    </div>
    <div data-appear-target='appear' class="project-card hidden-bottom">
      <div class="project-cover">
        <%= image_tag 'projects_cover/test.jpg', class: 'project-image'%>
        <div class="project-date">
          <p class="text-white text-small text-visible">MARS 2023</p>
        </div>
        <div class="project-skills-list">
          <div class="project-skill">
            <p class="text-white text-small text-visible">RAILS</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">POSTGRE SQL</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">HTML</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">CSS</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">STIMULUS</p>
          </div>
        </div>
      </div>
      <div class="project-infos">
        <div>
          <p class='text-biggest'>BREIZH SECRETS</p>
          <p class='text-grey'>Site de partage de secrets</p>
        </div>
        <div class='project-icone-plus'>
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
    </div>
    <div data-appear-target='appear' class="project-card hidden-bottom">
      <div class="project-cover">
        <%= image_tag 'projects_cover/test.jpg', class: 'project-image'%>
        <div class="project-date">
          <p class="text-white text-small text-visible">MARS 2023</p>
        </div>
        <div class="project-skills-list">
          <div class="project-skill">
            <p class="text-white text-small text-visible">RAILS</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">POSTGRE SQL</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">HTML</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">CSS</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">STIMULUS</p>
          </div>
        </div>
      </div>
      <div class="project-infos">
        <div>
          <p class='text-biggest'>BREIZH SECRETS</p>
          <p class='text-grey'>Site de partage de secrets</p>
        </div>
        <div class='project-icone-plus'>
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
    </div>
    <div data-appear-target='appear' class="project-card hidden-bottom">
      <div class="project-cover">
        <%= image_tag 'projects_cover/test.jpg', class: 'project-image'%>
        <div class="project-date">
          <p class="text-white text-small text-visible">MARS 2023</p>
        </div>
        <div class="project-skills-list">
          <div class="project-skill">
            <p class="text-white text-small text-visible">RAILS</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">POSTGRE SQL</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">HTML</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">CSS</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">STIMULUS</p>
          </div>
        </div>
      </div>
      <div class="project-infos">
        <div>
          <p class='text-biggest'>BREIZH SECRETS</p>
          <p class='text-grey'>Site de partage de secrets</p>
        </div>
        <div class='project-icone-plus'>
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
    </div>
  </div>
</div>
