<div class="smartphone-container">
  <%= image_tag "iphone.png", alt: "iphone_background", class: "smartphone-image" %>
  <div class="smartphone">
    <div class="smartphone-content">
      <!-- Inset the content here to have the background as you are navigating through the smartphone -->
    </div>
  </div>
</div>
