<div class="container-loading">
  <div class="name-loading">
    <h2>Kévin Tchiadeu</h2>
    <p>DEVELOPPEUR FULLSTACK</p>
  </div>
  <p class='counter-loading'>0</p>
  <div class='bar-loading'></div>
</div>
