.button {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
}

.button-black {
  padding: 15px;
  background-color: black;
  color: white;
  border: solid 1px white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.button-home {
  opacity: 0;
  animation: slide-in-text 500ms ease-in-out forwards;
  animation-delay: 2s;
}
