.button {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 15px;
}

.button-black {
  background-color: black;
  color: white;
  border: solid 1px white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: fit-content;
}
