.container-white, .container-black {
  padding: 0 9.3vw;
}

.container-white {
  background-color: white;
}

.container-black {
  background-color: black;
}

.container-full-height {
  height: 200vh;
  animation: slide-in-Y 1s ease-in-out;
}

.container-padding-y {
  padding-top: 200px; // have to do media query
  padding-bottom: 200px; // have to do media query
}

@media (min-width: 576px) {
  .container-content, .container-contact {
    margin: 0 7vw;
  }
}

@keyframes slide-in-Y {
  0% {
    transform: translateY(100%);
    animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  } 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
