.container-basic {
  padding: 0 9.3vw;
}

@media (max-width: 576px) {
  .container-basic {
    overflow-x: hidden;
  }

  .container-full-height {
    padding-bottom: 375px;
  }

  .container-padding-y {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (min-width: 576px) {
  .container-content, .container-contact {
    margin: 0 7vw;
  }
}

@media (min-width: 576px) and (max-height: 650px) {
  .container-padding-y {
    padding-top: 145px;
    padding-bottom: 145px;
  }

  .container-full-height {
    height: 100vh;
  }
}

@media (min-height: 650px) {
  .container-padding-y {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .container-full-height {
    padding-bottom: 12.5em;
  }
}
