.container-white, .container-black {
  padding: 0 9.3vw;
}

.container-white {
  background-color: white;
}

.container-black {
  background-color: black;
}

.container-full-height {
  height: 100vh;
}

.container-padding-y {
  padding-top: 125px;
  padding-bottom: 125px;
}
