.slide-out {
  animation: slide-in-Y 1s ease-in-out forwards;
}

.change-to-black {
  animation: white-to-black 700ms ease-in-out forwards;
}

.change-to-white {
  animation: black-to-white 700ms ease-in-out forwards;
}

@keyframes black-to-white {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}

@keyframes white-to-black {
  0% {
    background-color: white;
  }
  100% {
    background-color: black;
  }
}

@keyframes slide-in-Y {
  0% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  } 100% {
    transform: translateY(-100%);
    display: none !important;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
