.navbar {
  margin: 45px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .navbar-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 70px;
  }
}
