.navbar {
  width: 80vw;
  margin: 20px auto 0;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .navbar-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 70px;
  }
}
